{% load custom_tags %}
{% load static %} 
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  
  <div class="sidebar-brand"> 
    <a href="{% url 'dashboard' %}" class="brand-link">
      
      <img
        src="{% static 'img/Logo.png'%}"
        alt="AutoZone Logo"
        class="brand-image opacity-75 shadow"
      /> 
      <span class="brand-text fw-light">APL Estimate Automation</span>
       
    </a> 
  </div>  
  <div class="sidebar-wrapper">
    <nav class="mt-2"> 
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item menu-open">
          <a href="{% url 'dashboard' %}" class="nav-link active">
            <i class="nav-icon bi bi-speedometer"></i>
            <p>
              Dashboard
              <i class="nav-arrow"></i>
            </p>
          </a>
          
        </li>

        {% if request.user.role and request.user.role.name == 'CRM Officer' or request.user.role.name == 'Estimates Officer' %}
        <li class="nav-header">CUSTOMERS</li>

          <li class="nav-item">
            <a href="{% url 'register_customer' %}" class="nav-link">
              <i class="nav-icon bi bi-circle-fill"></i>
              <p>Register Customer</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'customer_list' %}" class="nav-link">
              <i class="nav-icon bi bi-circle-fill"></i>
              <p>List Of Customer</p>
            </a>
          </li>

        <li class="nav-header">ESTIMATES</li>
          <li class="nav-item">
            <a href="{% url 'record_estimate' %}" class="nav-link">
              <i class="nav-icon bi bi-circle-fill"></i>
              <p>Record Estimate</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'list_estimates' %}" class="nav-link">
              <i class="nav-icon bi bi-circle-fill"></i>
              <p>List Of Estimate</p>
            </a>
          </li>
         {% endif %}  

         
        {% if request.user.role and request.user.role.name == 'Delivery Officer' %}
        <li class="nav-header">DELIVERY NOTES</li>
        
          
        <li class="nav-item">
          <a href="{% url 'create_delivery_note' %}" class="nav-link">
            <i class="nav-icon bi bi-pen-fill"></i>
            <p>Record Delivery Details</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'delivery_note_list' %}" class="nav-link">
            <i class="nav-icon bi bi-grip-horizontal"></i>
            <p>Delivery Notes</p>
          </a>
        </li>
        {% endif %}

        {% if request.user.role and request.user.role.name == 'Sales Officer' %}
          <li class="nav-item">
            <a href="{% url 'delivery_note_list_by_sales_person' %}" class="nav-link">
              <i class="nav-icon bi bi-grip-horizontal"></i>
              <p>My Delivery Notes</p>
            </a>
          </li> 
        {% endif %}
       
        
        {% if request.user.role and request.user.role.name == 'Delivery Officer' or "Dispatch Officer"%} 
        <li class="nav-header">TRANSPORTATION</li>
        <li class="nav-item">
          <a href="{% url 'mark_dispatch_delivered' %}" class="nav-link">
            <i class="nav-icon bi bi-box-arrow-in-right"></i>
            <p>
              Create Courier Details
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'dispatch_list' %}" class="nav-link">
            <i class="nav-icon bi bi-box-arrow-in-right"></i>
            <p>
              List Courier Details
            </p>
          </a>
        </li>

          <li class="nav-header">DISPATCH VERIFICATION</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-circle text-danger"></i>
              <p class="text">Record Dispatch</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-circle text-warning"></i>
              <p>Dispatched items</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon bi bi-circle text-info"></i>
              <p>Reports</p>
            </a>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'log_out' %}">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </li>
        {% endif %}
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->