{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
<div class="container mt-5">
  <div class="card shadow border-0">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0"><i class="bi bi-receipt-cutoff me-2"></i>Billed Estimates</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Customer</th>
              <th>Estimate No</th>
              <th>Invoice No</th>
              
              <th>Sales Person</th>
              <th>Estimate Amount</th>
              <th>Invoice Amount</th>
              <th>Date Received</th>
              <th>Date Billed</th>
              <th>Recorded By</th>
            </tr>
          </thead>
          <tbody>
            {% for estimate in billed_estimates %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ estimate.customer_name.owner_name }}</td>
                <td>{{ estimate.bk_estimate_id }}</td>
                <td>{{ estimate.invoice_number }}</td>
                
                <td>{{ estimate.sales_person }}</td>
                <td>{{ estimate.invoice_amount |floatformat:0|intcomma  }}</td>
                <td>UGX {{ estimate.invoice_amount|floatformat:0|intcomma }}</td>
                <td>{{ estimate.date_verified|date:"M d, Y" }}</td>
                <td>{{ estimate.date_billed|date:"M d, Y" }}</td>
                <td>{{ estimate.billing_officer.get_full_name|default:estimate.billing_officer.username }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="8" class="text-center text-muted">No billed estimates found.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
